grpc:
  port: 50051

http:
  port: 8080

database:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  name: go_api
  ssl_mode: disable

logger:
  level: info
  format: json

jwt:
  secret: secret
  expiry_seconds: 86400 # seconds